    <!-- CONVERSATIONS -->
    <div class="overflow-hidden">
        <div class="flex flex-wrap w-full shadow-inner p-6">
          <div class="w-full conversation-list px-4">
            <!-- USER -->
            <div class="w-full message feed">
              <div class="w-full text rounded bg-grey-lighter shadow hover:shadow-md p-2">
                <p class="self-center">
                 Notification 1
                </p>
                <i class="fas fa-triangle"></i>
              </div>
            </div>

            <div class="w-full message feed">
                <div class="w-full text rounded bg-grey-lighter shadow hover:shadow-md p-2">
                  <p class="self-center">
                    Notification 2
                  </p>
                  <i class="fas fa-triangle"></i>
                </div>
            </div>

            <div class="w-full message feed">
                <div class="w-full text rounded bg-grey-lighter shadow hover:shadow-md p-2">
                  <p class="self-center">
                    Notification 2
                  </p>
                  <i class="fas fa-triangle"></i>
                </div>
            </div>


            <div class="w-full message feed">
                <div class="w-full text rounded bg-grey-lighter shadow hover:shadow-md p-2">
                  <p class="self-center">
                    Notification 2
                  </p>
                  <i class="fas fa-triangle"></i>
                </div>
            </div>


            <div class="w-full message feed">
                <div class="w-full text rounded bg-grey-lighter shadow hover:shadow-md p-2">
                  <p class="self-center">
                    Notification 2
                  </p>
                  <i class="fas fa-triangle"></i>
                </div>
            </div>


            <div class="w-full message feed">
                <div class="w-full text rounded bg-grey-lighter shadow hover:shadow-md p-2">
                  <p class="self-center">
                    Notification 2
                  </p>
                  <i class="fas fa-triangle"></i>
                </div>
            </div>
            <div class="w-full message feed">
                <div class="w-full text rounded bg-grey-lighter shadow hover:shadow-md p-2">
                  <p class="self-center">
                    Notification 2
                  </p>
                  <i class="fas fa-triangle"></i>
                </div>
            </div><div class="w-full message feed">
                <div class="w-full text rounded bg-grey-lighter shadow hover:shadow-md p-2">
                  <p class="self-center">
                    Notification 2
                  </p>
                  <i class="fas fa-triangle"></i>
                </div>
            </div>
            <div class="w-full message feed">
                <div class="w-full text rounded bg-grey-lighter shadow hover:shadow-md p-2">
                  <p class="self-center">
                    Notification 2
                  </p>
                  <i class="fas fa-triangle"></i>
                </div>
            </div>

          </div>
        </div>
      </div>