<div class="h-screen w-screen flex flex-wrap bg-blue-lightest">
		
  <div class="w-full flex flex-wrap shadow-lg bg-white rounded max-w-6xl m-auto">
    
    <!-- HEADER -->
    <div class="header-container w-full sticky flex flex-wrap items-center justify-center text-center rounded-t p-4">
      <div class="w-16 h-16">
      <img src="../assets/img/BotIcon.svg" class="rounded-full shadow">
    </div>
     <h3 class="w-full text-grey-dark font-normal capitalize py-2">
       How can we help you?
     </h3>
     <p class="w-full text-grey-dark font-light max-w-xs m-auto leading-tight">
       Please keep your questions concise so we can give you the best advice!
     </p>
  </div>
  
  <!-- CONVERSATIONS -->
  <div class="overflow-hidden">
    <p class="w-full text-sm text-grey-dark mb-2 px-6">
      Conversation history...
    </p>
    <div class="flex flex-wrap w-full shadow-inner p-6">
      <div class="w-full conversation-list px-4">

        <!-- USER -->
        <div class="w-full flex flex-wrap items-center message user my-1">
          <div class="text relative rounded bg-grey-lighter shadow hover:shadow-md">
            <p class="self-center">
              I would like to check my balance
            </p>
            <i class="fas fa-triangle"></i>
          </div>
        </div>

        <!-- BOT -->
        <div class="w-full message bot my-1">
          <div class="text rounded bg-grey-lighter shadow hover:shadow-md p-2">
            <p class="w-full spinner self-center text-grey">
              <span class="bounce3"></span>
              <span class="bounce2"></span>
              <span class="bounce1"></span>
            </p>
            <i class="fas fa-triangle"></i>
          </div>
        </div>

        <!-- BOT -->
        <div class="w-full message bot my-1">
          <div class="text rounded bg-grey-lighter shadow hover:shadow-md p-2">
            <p class="self-center">
              Sure. You will need to log in first. May I have your email associated with your account?
            </p>
            <i class="fas fa-triangle"></i>
          </div>
        </div>

        <!-- USER -->
        <div class="w-full flex flex-wrap items-center message user my-1">
          <div class="text rounded bg-grey-lighter shadow hover:shadow-md p-2">
            <p class="self-center">
              ok. here you go: linda.walker@cox.net
            </p>
            <i class="fas fa-triangle"></i>
          </div>
        </div>
        
        <!-- BOT -->
        <div class="w-full message bot my-1">
          <div class="text rounded bg-grey-lighter shadow hover:shadow-md p-2">
            <p class="self-center">
              Thank you! Please also provide your password in the space below? (btw we do not save your password)
            </p>
            <i class="fas fa-triangle"></i>
          </div>
        </div>
        
        <!-- USER -->
        <div class="w-full flex flex-wrap items-center message user my-1">
          <div class="text rounded bg-grey-lighter shadow hover:shadow-md p-2">
            <p class="self-center">
              ***************
            </p>
            <i class="fas fa-triangle"></i>
          </div>
        </div>
       </div>
     </div>
   </div>
   
  <!--    INPUT FIELD    -->
  <div class="container rounded-b bg-grey-lighter border-l-4 border-blue py-8 px-6">
    <input class="shadow appearance-none border rounded w-full text-grey-darker leading-tight focus:outline-none focus:shadow-outline p-3" id="username" type="text" placeholder="Ask something ...">
  </div>
  
  <!--	PASSWORD FIELD	-->
  <div class="hidden container rounded-b bg-grey-lighter border-l-4 border-blue py-8 px-6">
    <input class="shadow appearance-none border rounded w-full text-grey-darker leading-tight focus:outline-none focus:shadow-outline p-3" id="password" type="password" placeholder="************">
  </div>
</div>
 </div>

<router-outlet></router-outlet>
