<div class="h-screen w-full flex flex-wrap bg-blue-lightest">

  <div class="w-full flex flex-wrap shadow-lg bg-white rounded max-w-5xl mt-8 mb-2 mx-auto">

    <!-- HEADER -->
    <div class="header-container w-full sticky flex flex-wrap items-center justify-center text-center rounded-t p-4">
      <div class="w-16 h-16 -mt-12">
        <img src="../assets/img/BotIcon.svg" class="rounded-full shadow">
      </div>
      <h3 class="w-full text-grey-dark font-normal capitalize py-2">
        How can we help you?
      </h3>
      <p class="w-full text-grey-dark font-light max-w-xs m-auto leading-tight">
        Please keep your questions concise so we can give you the best advice!
      </p>
    </div>

    <!-- CONVERSATIONS -->
    <div class="overflow-hidden">
      <div class="flex flex-wrap w-full shadow-inner p-6">
        <div class="w-full conversation-list px-4">

          <!-- USER -->
          <div class="w-full flex flex-wrap items-center message user ">
            <div class="text relative rounded bg-grey-lighter shadow hover:shadow-md">
              <p class="self-center">
                I would like to check my balance
              </p>
              <i class="fas fa-triangle"></i>
            </div>
          </div>

          <!-- BOT -->
          <div class="w-full message bot ">
            <div class="text rounded bg-grey-lighter shadow hover:shadow-md p-2">
              <p class="w-full spinner self-center text-grey">
                <span class="bounce3"></span>
                <span class="bounce2"></span>
                <span class="bounce1"></span>
              </p>
              <i class="fas fa-triangle"></i>
            </div>
          </div>

          <!-- BOT -->
          <div class="w-full message bot ">
            <div class="text rounded bg-grey-lighter shadow hover:shadow-md p-2">
              <p class="self-center">
                Sure. You will need to log in first. May I have your email associated with your account?
              </p>
              <i class="fas fa-triangle"></i>
            </div>
          </div>
          <div class="w-full message user ">
              <div class="text rounded bg-grey-lighter shadow hover:shadow-md p-2">
                <p class="self-center">
                  Susssssre. You will need to log in first. May I have your email associated with your account?
                </p>
                <i class="fas fa-triangle"></i>
              </div>
            </div>

          <!-- USER -->
          <div class="w-full flex flex-wrap items-center message user ">
            <div class="text rounded bg-grey-lighter shadow hover:shadow-md p-2">
              <p class="self-center">
                ok. here you go: linda.walker@cox.net
              </p>
              <i class="fas fa-triangle"></i>
            </div>
          </div>

          <!-- BOT -->
          <div class="w-full message bot ">
            <div class="text rounded bg-grey-lighter shadow hover:shadow-md p-2">
              <p class="self-center">
                Thank you! Please also provide your password in the space below?
              </p>
              <i class="fas fa-triangle"></i>
            </div>
          </div>

          <!-- USER -->
          <div class="w-full flex flex-wrap items-center message user ">
            <div class="text rounded bg-grey-lighter shadow hover:shadow-md p-2">
              <p class="self-center">
                ***************
              </p>
              <i class="fas fa-triangle"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--    INPUT FIELD    -->
    <div class="shadow-inner sticky flex flex-wrap w-full footer-container rounded-b py-3 px-6"
      style="min-height: 3rem">
      <div class="flex w-full items-center border-b border-b-2 border-teal-500 pb-2">
        <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-2 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500 inline-margin" type="text" placeholder="Type Here" aria-label="Full name">
        <button class="flex-shrink-0 bg-teal-500 hover:bg-teal-700 border-teal-500 hover:border-teal-700 text-sm border-4 text-white py-1 px-5 rounded" type="button">
          Send
        </button>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
